/* VARIABLES */
:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  /* 
      ### Neutral
 */
  --grayBlue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --LightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em; }

.header {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between; }

.hero {
  text-align: center;
  color: var(--grayBlue);
  padding-bottom: 5em; }
  .hero .copy {
    margin-bottom: 2.5em; }
  .hero__image {
    height: 300px;
    margin: 0 calc(-1 * var(--wrapperSpace));
    background: url("../../static/images/image-mockups.png") center bottom no-repeat, url("../../static/images/bg-intro-mobile.svg") center center no-repeat;
    background-size: 345px, cover;
    margin-bottom: 1.2em; }

.wrapper {
  padding: 0 var(--wrapperSpace); }

.menu {
  width: 40px;
  background: url("../../static/images/icon-hamburger.svg") center center no-repeat; }

.why {
  text-align: center;
  background: var(--gray);
  padding-top: 5em;
  color: var(--grayBlue); }
  .why .copy {
    margin-bottom: 3em; }
  .why__item .copy {
    margin-bottom: 2em;
    font-size: 1em; }
  .why__item img {
    margin-bottom: 1.4em; }

.lastestArticles {
  background: var(--LightGray);
  padding-top: 5em; }
  .lastestArticles .title__h1, .lastestArticles .title__h2, .lastestArticles .title__h3 {
    text-align: center; }
  .lastestArticles .title__h3 {
    text-align: left; }
  .lastestArticles__grid {
    display: grid;
    grid-row-gap: 2em; }
  .lastestArticles__item {
    border-radius: 0.5em;
    overflow: hidden;
    background: var(--White); }
    .lastestArticles__item-content {
      padding: 1.8em; }
    .lastestArticles__item .copy {
      color: var(--grayBlue); }
    .lastestArticles__item small {
      color: var(--grayBlue);
      margin-bottom: 1em;
      display: block; }
    .lastestArticles__item img {
      width: 100%;
      object-fit: cover; }

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif; }

.copy {
  line-height: 1.7;
  font-size: 0.9em; }

.is-hidden {
  display: none !important; }

.title__h1, .title__h2, .title__h3 {
  font-size: 2.5em;
  color: var(--DarkBlue);
  font-weight: 300;
  line-height: 1.3em;
  margin: 0;
  margin-bottom: 0.5em; }

.title__h2 {
  font-size: 1.5em; }

.title__h3 {
  font-size: 1em; }

button.btn.btn {
  font-family: "Public Sans", sans-serif;
  margin-top: 1em;
  background-image: linear-gradient(to right, var(--LimeGreen) 0%, var(--BrightCyan) 100%);
  text-decoration: none;
  border-radius: 1.5em;
  padding: 0.9em 2.4em;
  color: white;
  font-size: 1em;
  border: none; }
